<h1>Applicant Name: <%= @application.name%></h1>

<p>Address: <%= @application.address %> <%= @application.city %> <%= @application.state %> <%= @application.zip %></p>
<p>Description: <%= @application.description %></p>
<p>Application Status: <%= @application.application_status%></p>
 
 <p>Applications for:<% @application.pets.each do |pet| %>
 <%= link_to "#{pet.name}", "/pets/#{pet.id}"%>
 <% end %></p>

<h2> Search for Pets to adopt <h2>
<%= form_tag "/applications/#{@application.id}", method: :get do %>
  <%= label_tag "Pet Search" %>
  <%= text_field_tag "Pet Search"%> 

  <%= submit_tag 'Submit' %>
<% end %>

<%  if @pet != nil %>
  <%=  @pet.name  %>
  <%= button_to "Adopt this Pet", "/applications/#{@application.id}/pets/#{@pet.id}", method: :post, id: "adopt" %><br>
  <% else %>
<% end %>
