<h1>Applicant Name: <%= @application.name%></h1>

<p>Address: <%= @application.address %> <%= @application.city %> <%= @application.state %> <%= @application.zip %></p>
<p>Description: <%= @application.description %></p>
<p>Application Status: <%= @application.application_status%></p>
 
 <p>Applications for:<% @application.pets.each do |pet| %>
 <%= link_to "#{pet.name}", "/pets/#{pet.id}"%>
 <% end %></p>

<% if @application.application_status == "In Progress" %>
<h2> Search for Pets to adopt <h2>
<%= form_tag "/applications/#{@application.id}", method: :get do %>
  <%= label_tag "Pet Search" %>
  <%= text_field_tag "Pet Search"%> 

  <%= submit_tag 'Submit' %>
   <% else %>
  <% end %>
<% end %>

<%  if @pet != nil %>
  <h4> Pet Name: <%=  link_to "#{@pet.name}" , "/pets/#{@pet.id}" %></h4>
  <%= button_to "Adopt this Pet", "/applications/#{@application.id}/pets/#{@pet.id}", method: :post, id: "adopt" %><br>
  <% else %>
<% end %>

<h3> Submit Application </h3>
  <% if @application.pets == [] %>
<h4>Must select pets</h4>
 <% else %>
  <%= form_tag "/applications/#{@application.id}", method: :patch do %> 
  <%= label_tag "Describe why you would make a good owner" %>
  <%= text_field_tag "Describe"%> 

  <%= submit_tag 'Submit Application' %>
  <% end %>
<% end %>

